* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-bar {
  margin: 1rem auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 2px solid;
  width: 25rem;
}

#anime-info {
  border-radius: 30px;
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

.content-anime {
  display: inline-block;
  position: relative;
}

img {
  border-radius: 30px;
  width: 200px;
  height: 300px;
  padding: 10px;
}

h2 {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button-in-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin: 0 auto;
  border: none;
  background-color: orange;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
}

.button-in-image:hover {
  background-color: black;
}

.anime-title {
  position: absolute;
}

.test:hover {
  filter: blur(1.5px);
}
