* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-bar {
  margin: 1rem auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 2px solid;
  width: 25rem;
}

#anime-info {
  text-align: center;
}
