* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.search-bar {
  margin: 1rem auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 2px solid;
  width: 25rem;
}

#anime-info {
  border-radius: 30px;
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

.content-anime {
  display: inline-block;
  position: relative;
}

.anime-image-card {
  border-radius: 30px;
  width: 200px;
  height: 300px;
  padding: 10px;
}

h2 {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button-in-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin: 0 auto;
  border: none;
  background-color: orange;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
}

.button-in-image:hover {
  background-color: black;
}

.anime-title {
  position: absolute;
}

.anime-image-card:hover {
  filter: blur(5px) brightness(50%);
}

.title-in-card {
  position: absolute;
  font-weight: 700;
  top: 10%;
  left: 50%;
  color: white;
  background-color: transparent;
  font-weight: bold;
}

.anime-page-container {
  padding-top: 10px;
}

.anime-page-title {
  top: 0;
  padding-bottom: 20px;
}

.anime-header-container {
  background-color: white;
}

.anime-page-info-container {
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 15%;
}

.trailer-container {
  float: right;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
